html {
    font-size: 10px;
  }

section{
    padding-inline-start: 13rem;
    padding-bottom: 2rem;
  }
#button{
  overflow:hidden;
  background: red;
  position: relative;
}
body{
    font-family: Helvetica;
    padding: 1rem;
  }
h1 {
    color: CRIMSON;
    font-size: 20px;
    margin: 0;
  }

time {
    font-weight: bold;
    font-size: 9px;
  }
