img {
    border-radius: 50%;
    border: 6px solid CRIMSON;
    box-shadow: 0 6px 8px 0 dimgray; 
    max-width: 100%;
  }
  
  @media (min-width: 600px) {
    img{
      width: 10rem;
      height: auto;
    }
  }

  @media (min-width: 800px) {
  img{
    width: 50%;
    height: auto;
  }
  }
