button {
    background: CRIMSON;
    color: white;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 4px;
    padding-bottom: 6px;
    min-width: 100%;
    width: 100%;
}