button {
    background: CRIMSON;
    color: white;
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 6px;
    width: 100%;
}

@media (min-width: 600px) {
    button{
      float: right;
      width: 30%;
    }
  }

  @media (min-width: 800px) {
    button{
      width: 100%;
    }
  }

